<div>
  {% if top %}
    <p class="credit mb-[2px]">{{ top }}</p>
  {% endif %}
  <p class="secondary">{{ title }}</p>
  {% if note %}
    <p class="uppercase mt-[3px]">{{ note }}</p>
  {% endif %}
</div>
