<div class="p-[36px] main-grid mt-[45px] bg-[#C5E0F2]">
  <div class="col-span-3">
    {% comment %} socials {% endcomment %}
  </div>
  <div class="col-span-3">
    {% comment %} section.settings outbound links {% endcomment %}
  </div>
  <div class="col-span-6">
    <input>
  </div>
</div>

{% schema %}
{
  "name": "Footer",
  // array of socials arrays of outbound links
  "settings": [
    {
      "type": "text",
      "id": "socials",
      "label": "Socials"
    },
    {
      "type": "text",
      "id": "outbound_links",
      "label": "Outbound Links"
    }
  ]
}
{% endschema %}
