<div class="fixed top-[18px] px-[18px] left-0 w-screen flex items-center justify-between z-50">
  <h2 href="/" class="text-heading !text-[26px]">Stone & Skillet</h2>

  <div class="flex flex-row gap-[6px]">
    <a href="#issues" class="button sm:bg-skillet">Our Muffins</a>
    <a href="#issues" class="button bg-skillet !hidden sm:!flex">Find Us</a>
    <a href="#issues" class="button bg-skillet !hidden sm:!flex">About</a>
    <a href="#issues" class="button !hidden sm:!flex">Order Now</a>
  </div>
</div>

<script>
  console.log({{ all_products.subscription | json }});
</script>
