<div class="fixed top-[18px] px-[18px] left-0 w-screen flex items-center justify-between z-50">
  <h2 href="/" class="text-heading !text-[26px]">Stone & Skillet</h2>

  <div class="flex flex-row gap-[6px]">
    <a href="#our-muffins" class="button sm:bg-skillet">Our Muffins</a>
    <a href="#about" class="button bg-skillet !hidden sm:!flex">About</a>
    <a href="#location" class="button bg-skillet !hidden sm:!flex">Find Us</a>

    <a
      class="button bg-white !hidden sm:!flex"
      target="_blank"
      href="https://www.instacart.com/categories/316-food/1300-baked-goods/3548-breakfast-bakery/1304-english-muffins?brand=stone-skillet"
      >Order Now</a
    >
  </div>
</div>

<script>
  console.log({{ all_products.subscription | json }});
</script>
