<div
  id="header"
  class="fixed top-[18px] transition-all duration-100 px-[18px] left-0 w-screen flex items-center justify-between z-50"
>
  <a href="{{ routes.root_url }}" class="text-heading !text-[26px]">Stone & Skillet</a>

  <div class="flex flex-row gap-[6px]">
    <a href="#our-muffins" class="button !hidden sm:!flex bg-skillet">Our Muffins</a>
    <a href="#about" class="button bg-skillet !hidden sm:!flex">About</a>
    <a href="#location" class="button bg-skillet !hidden sm:!flex">Find Us</a>

    <a
      class="button bg-white !flex"
      target="_blank"
      href="{{settings.instacart_link}}"
      >Order Now</a
    >
  </div>
</div>

{% comment %} if div with id="location" is in the screen then hide the nav on mobile. Once its gone bring it back. use intersection observer {% endcomment %}

<script>
  // on mount

  document.addEventListener('DOMContentLoaded', function () {
    const header = document.getElementById('header');
    const locationSection = document.getElementById('location');
    const footerSection = document.getElementById('footer');

    let locationVisible = false;
    let footerVisible = false;

    function updateHeaderVisibility() {
      if (locationVisible || footerVisible) {
        header.style.opacity = '0';
      } else {
        header.style.opacity = '1';
      }
    }

    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.target === locationSection) {
            locationVisible = entry.isIntersecting;
          }
          if (entry.target === footerSection) {
            footerVisible = entry.isIntersecting;
          }
        });
        updateHeaderVisibility();
      },
      { threshold: 0.1 }
    );

    if (window.innerWidth < 640) {
      if (locationSection) observer.observe(locationSection);
      if (footerSection) observer.observe(footerSection);
    }
  });
</script>
