<div class=" mt-[45px]">
  <div class="mb-[15px] px-page">
    {% render 'heading', title: 'Media' %}
  </div>
  <swiper-gallery class="overflow-x-hidden *:!px-[12px]">
    {% for block in section.blocks %}
      {% render 'image', image: block.settings.image, class: 'h-[512px]' %}
    {% endfor %}
  </swiper-gallery>
</div>

{% schema %}
{
  "name": "Hero",
  "settings": [
    // fields hero title and instacart link
    {
      "type": "text",
      "id": "hero_title",
      "label": "Hero Title",
      "default": "Freshly Baked Muffins Delivered to Your Doorstep"
    },
    {
      "type": "url",
      "id": "instacart_link",
      "label": "Instacart Link",
      "default": "https://www.instacart.com/store/stone-and-skillet"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero",
      "category": "Custom"
    }
  ]
}
{% endschema %}
