<div class="relative">
  <div class="mt-[45px] flex flex-row h-[calc(100svh-45px-36px)] overflow-x-scroll w-screen relative">
    <div class="flex flex-row " id="marquee">
      {% for block in section.blocks %}
        {% render 'image', image: block.settings.image, class: 'h-[75svh] md:h-[80svh] object-cover' %}
      {% endfor %}
    </div>
  </div>
  <div class="main-grid bottom-0 px-page absolute left-0 w-screen">
    <div class="col-span-10 sm:col-span-7 md:col-span-7 lg:col-span-6 xl:col-span-5 bg-skillet flex flex-col gap-[18px] rounded dotted px-[12px] py-[18px] relative">
      <h3 class="text-heading text-balance text-center sm:text-left">{{ section.settings.hero_title }}</h3>
      <div class="flex flex-row gap-1 button mx-auto sm:mx-0 bg-white w-min">
        <a href="{{ section.settings.instacart_link }}" class="">Order on </a>
        {% render 'instacart' %}
      </div>
      <img
        height="72"
        width="72"
        alt="hand griddled in Boston, MA"
        src="{{ 'hand-griddled.png' | asset_url }}"
        class="absolute w-[72px] rotate top-[-24px]  right-[-24px]"
      >
    </div>
  </div>
</div>
<script>
  const marquee = document.getElementById('marquee');
  const speed = 0.5; // Adjust the speed as needed

  let posX = 0;

  function animate() {
    posX -= speed;
    if (posX <= -marquee.scrollWidth / 2) {
      posX = 0;
    }
    marquee.style.transform = `translateX(${posX}px)`;
    requestAnimationFrame(animate);
  }

  animate();
</script>

{% schema %}
{
  "name": "Hero",
  "settings": [
    // fields hero title and instacart link
    {
      "type": "text",
      "id": "hero_title",
      "label": "Hero Title",
      "default": "Freshly Baked Muffins Delivered to Your Doorstep"
    },
    {
      "type": "url",
      "id": "instacart_link",
      "label": "Instacart Link"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Landing Hero",
      "category": "Custom"
    }
  ]
}
{% endschema %}
