<div>
  <div class="flex justify-between px-page  pb-[36px]">
    <h3 class="text-secondary ">{{ section.settings.title }}</h3>
    <div>
      <button id="ugc-prev" class="aria-disabled:!opacity-50 transition-opacity mr-[12px]">
        {% render 'arrow', left: true %}
      </button>
      <button id="ugc-next" class="aria-disabled:!opacity-50 transition-opacity">
        {% render 'arrow' %}
      </button>
    </div>
  </div>
  <swiper-gallery data-button-id="ugc" data-gap="18px" class="overflow-x-hidden *:!px-[36px] ">
    {% for block in section.blocks %}
      {% if block.settings.image %}
        <div class="swiper-slide !w-[calc((100vw-36px*13)/12*4+36px*3)] !mt-0">
          <div class="aspect-w-1 aspect-h-1 w-full">
            {% render 'image', image: block.settings.image, class: 'dotted rounded w-full h-full object-cover' %}
          </div>
          <div class="mt-[18px] flex flex-col gap-[12px] text-center w-full">
            {% if block.settings.caption %}
              <p class="">{{ block.settings.caption }}</p>
            {% endif %}
            {% if block.settings.username and block.settings.username_link %}
              <a
                href="{{ block.settings.username_link }}"
                target="_blank"
                rel="noopener noreferrer"
                class="text-[12px] italic w-fit mx-auto hover:opacity-70 transition-opacity"
              >
                {{ block.settings.username }}
              </a>
            {% endif %}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </swiper-gallery>
</div>

{% schema %}
{
  "name": "UGC",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "The Dynamic Muffin"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Post"
        },
        {
          "type": "text",
          "id": "caption",
          "label": "Caption"
        },
        {
          "type": "text",
          "id": "username",
          "label": "Username"
        },
        {
          "type": "url",
          "id": "username_link",
          "label": "Username Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "UGC",
      "category": "Custom"
    }
  ]
}
{% endschema %}
