<div class="h-[90vh] relative ">
  <img
    src="{{ section.settings.quote_image | img_url: 'master' }}"
    alt="Quote Image"
    class="h-full w-full object-cover"
  >
  {% if section.settings.caption %}
    <div class="flex content-center absolute w-full h-full left-0 top-0">
      <p class="my-auto w-2/3 z text-white mx-auto text-center flex text-heading  ">
        {{ section.settings.caption }}
      </p>
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "quote",
  "settings": [
    {
      "type": "image_picker",
      "id": "quote_image",
      "label": "Quote Image"
    },

    {
      "type": "textarea",
      "id": "caption",
      "label": "Caption"
    }
  ],
  "presets": [
    {
      "name": "Quote",
      "category": "Custom"
    }
  ]
}
{% endschema %}
