<div class="h-[90vh] block">
  <img
    src="{{ section.settings.quote_image | img_url: 'master' }}"
    alt="Quote Image"
    class="h-full w-full object-cover"
  >
  {% if section.settings.caption %}
    <p class="mt-4 text-heading text-center absolute top-0 bottom-0 left-0 right-0 text-white italic text-sm">
      {{ section.settings.caption }}
    </p>
  {% endif %}
</div>

{% schema %}
{
  "name": "quote",
  "settings": [
    {
      "type": "image_picker",
      "id": "quote_image",
      "label": "Quote Image"
    },

    {
      "type": "textarea",
      "id": "caption",
      "label": "Caption"
    }
  ],
  "presets": [
    {
      "name": "Quote",
      "category": "Custom"
    }
  ]
}
{% endschema %}
