@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Baton Nouveau";
  src:
    url("./BatonNouveauWeb-Medium.woff2") format("woff2"),
    url("./BatonNouveauWeb-Medium.woff") format("woff");

  font-style: normal;
  font-display: swap;
}

body {
  font-family: "IBM Plex Serif", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 134%;
  letter-spacing: 0.02em;
}

@layer utilities {
  .text-heading {
    font-family: "Baton Nouveau", sans-serif;
    font-style: normal;
    font-weight: 500;
    @apply text-[31px] md:text-[38px];
    line-height: 103%;
    letter-spacing: -0.03em;
  }

  .text-secondary {
    font-family: "Baton Nouveau", sans-serif;
    font-style: normal;
    font-weight: 500;
    @apply text-[22px] md:text-[32px];
    line-height: 103%;
    letter-spacing: -0.03em;
  }
  .text-link {
    font-family: "Baton Nouveau", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: -0.03em;
  }
}

.button {
  @apply text-link border rounded px-[12px] py-[8px] h-[27px] border-black whitespace-nowrap flex items-center justify-center;
}

.px-page {
  @apply px-[18px] md:px-[36px];
}

.main-grid {
  @apply grid grid-cols-10 md:grid-cols-12 gap-[9px] md:gap-[36px];
}

.dotted {
  border: 1px dashed #000000;
}

.rotate {
  animation: rotation 20s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ball {
  font-family: "Baton Nouveau", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.03em;
  border: 1px dashed #000000;
  @apply uppercase h-[84] w-[84px] rounded-full z-10 flex items-center justify-center text-center transition-colors;
}

.swiper .swiper-slide-active .ball {
  @apply !scale-100;
}

.swiper div:not(.swiper-slide-active) .ball {
  @apply scale-0 transition-transform duration-500 ease-in-out;
}

html {
  scroll-behavior: smooth;
}
