@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Baton Nouveau";
  src:
    url("./BatonNouveauWeb-Medium.woff2") format("woff2"),
    url("./BatonNouveauWeb-Medium.woff") format("woff");

  font-style: normal;
  font-display: swap;
}

/* define vairbale color */
:root {
  --skilletBlue: #c5e0f2;
}

.baton-large {
  font-family: "Baton Nouveau", sans-serif;
  line-height: 103%; /* 43.26px */
  letter-spacing: -1.26px;
}
.button {
  font-family: "Baton Nouveau", sans-serif;
  @apply border rounded-full px-3 py-2 border-black whitespace-nowrap;
}
