@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Baton Nouveau";
  src:
    url("./BatonNouveauWeb-Medium.woff2") format("woff2"),
    url("./BatonNouveauWeb-Medium.woff") format("woff");

  font-style: normal;
  font-display: swap;
}

body {
  font-family: "IBM Plex Serif", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 134%;
  letter-spacing: 0.02em;
}

.rotate {
  animation: rotation 20s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-heading {
  font-family: "Baton Nouveau", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 103%;
  letter-spacing: -0.03em;
}

.swiper-slide {
  @apply child:h-full child:object-cover md:my-auto;
}

.text-secondary {
  font-family: "Baton Nouveau", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 103%;
  letter-spacing: -0.03em;
}

.button {
  font-family: "Baton Nouveau", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.03em;
  @apply border rounded px-[12px] py-[8px] h-[27px] border-black whitespace-nowrap flex items-center justify-center;
}

.px-page {
  @apply px-[36px];
}

.main-grid {
  @apply grid grid-cols-12 gap-[36px];
}

.dotted {
  border: 1px dashed #000000;
}
