<div class="">
  <div class="mb-[15px]">
    {% assign main_number = 'Issue ' | append: main_issue.number %}
    {% render 'heading', top: main_issue.season, title: main_number, note: 'Subscribe today to get the latest issue' %}
  </div>
  <div class="main-grid">
    <div class="col-span-5">
      {% render 'image', image: main_issue.cover, class: 'w-full' %}
    </div>
    <div class="col-span-14  flex flex-col gap-[45px] justify-between">
      <div class="w-full grid grid-cols-14 gap-[12px]">
        <div class="col-span-14 xl:col-span-12">
          <p class="credit">Editor's Note</p>
          <p class="headline">
            {{ main_issue.note }}
          </p>
        </div>
      </div>

      <div class="grid grid-cols-14 gap-[12px] gap-y-[18px]">
        <div class="col-span-5">
          {% render 'pairing', title: 'Contributors', text: main_issue.contributors %}
        </div>
        <div class="col-span-4">
          {% render 'pairing', title: 'Featured Interviews', text: main_issue.interviews %}
        </div>
        <div class="col-span-5">
          {% render 'pairing', title: 'Books Reviewed', text: main_issue.books %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="px-page mt-[45px]">
  <div class="mb-[15px]">
    {% render 'heading', title: 'Past Issues', note: 'These issues are available through select retailers.' %}
  </div>
  <div class="main-grid gap-[12px]">
    {% for issue in metaobjects.issue.values reversed %}
      {% unless issue.number == main_issue.number %}
        <div class="flex flex-col gap-[15px] col-span-4">
          {% render 'image', image: issue.cover %}
          <p class="secondary">
            {{ issue.season }}
            <br>
            Issue {{ issue.number }}
          </p>

          {% render 'pairing', title: "Editor's Note", text: issue.note, uppercase: true %}
          {% render 'pairing', title: 'Featured Interviews', text: issue.interviews %}
          {% render 'pairing', title: 'Books Reviewed', text: issue.books %}
          {% render 'pairing', title: 'Contributors', text: issue.contributors %}
        </div>
      {% endunless %}
    {% endfor %}
  </div>
</div>

{% section 'hero' %}

{% section 'media' %}

{% section 'press' %}

{% section 'footer' %}
